.profile{
    max-width: 50px;
    max-height: 50px;
    border-radius: 100%;
}
.box{
    display: flex;
    flex-direction: column;
}
.stream{
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    margin-top: 20px;
}
.stream_description{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
.title{
    font-size: 20px;
    font-weight: bold;
}
.description{
    font-size: 16px;
    font-weight: bold;
    max-width: 400px;
}
.p{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
