
.navbar{
    height: 50px;
    border-bottom: 2px solid #e3e3e3;
    display: flex;
    align-items: center;
    background-color: white;
    justify-content: space-between;
    position: fixed;
    width: 100%;
}

.navbar_left{
    display: flex;
    align-items: center;
    /* border-bottom: 2px solid #772CE8; */
}

/* .navbar_left:active{
    border-bottom: 2px solid #772CE8;
} */

.navbar_left button{
    margin: 10px;
    color: #0E0E10;
    font: 14px Helvetica,Arial,sans-serif;
    font-weight:bold;
    border: none;
    background-color: white;
    height: 50px;
    /* text-decoration: underline;
    color:#000; */
}

.navbar_left button:focus{
    border-bottom: 2px solid #772CE8;
    transition: none;
}
.navbar_left button:hover {
    color: #772CE8;
}

.logo{
    height: 25px;
    /* margin-left: 20px; */
}

.vertical_line{
    border-left: 1px solid #e3e3e3;
    height: 30px;
}

.icon_dot{
    margin: 8px;
    padding: 3px;
}

.icon_dot:hover {
    padding: 3px;
    background-color: #e3e3e3;
    border-radius: 5px;
}

.navbar_center{
    width: 30%;
    height: 36px;
    display: flex;
    justify-content: center;
}

.input_text{
    border-radius: 10px;
}

.navbar_center input {
    width: 300px;
    padding: 5px 10px;
    background-color: #0000001A;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.button_search{
    border: none;
    height: 36px;
    width: 36px;
    margin-left: 1px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.button_search:active{
    background-color:#a8a7a7;
}

.icon_search i{
    font-size: 20px;
    opacity: 0.5; 
}


.navbar_right button {
    border: none;
    background-color: white;
    /* margin: 8px; */
}

.navbar_right i{
    /* align-items: center; */
    padding: 5px;
}

.navbar_right i:hover {
    padding: 5px;
    background-color: #e3e3e3;
    border-radius: 5px;
}

.button_gem {
    padding: 3px;
}

.button_gem:hover{
    background-color: #e3e3e3;
    padding: 3px;
    border-radius: 5px;
}

/* .dropdown_content{
    display: none;
    position: absolute;
    background-color: black;
    z-index: 1;
}

.dropdown_content p{
    color: white;
    display: block;
}

.dropdown_content p:hover{
    background-color: #ddd;
}

.navbar_right:hover .dropdown_content{
    display: block;
} */
/* NAVBAR MIN */

.navbar_left2{
    display: flex;
    align-items: center;
}

.navbar_left2 button{
    margin: 13px;
    color: #0E0E10;
    font: 14px Helvetica,Helvetica,Arial,sans-serif;;
    font-weight:bold;
    border: none;
    background-color: white;
    height: 50px;
}

.navbar_left2 button:focus{
    border-bottom: 2px solid #772CE8;
    transition: none;
}

.navbar_center2{
    display: flex;
    justify-content: center;
    /* margin: 11px; */
}

.button_search2{
    border: none;
    height: 20px;
    width: 20px;
    background-color: white;
    margin: 13px;
}

.navbar_right2 button {
    border: none;
    background-color: white;
    /* margin: 11px; */
}

.navbar_right2 i{
    align-items: center;
    /* margin: 1px; */
    padding: 5px;
}

.navbar_right2 i:hover{
    padding: 5px;
    background-color: #e3e3e3;
    border-radius: 5px;
}

/* @media screen and (max-width: 700px) {
    .navbar_left button:nth-of-type(1) {
        content: url('../heart.png');
    }
    .navbar_left button:nth-of-type(2) {
        content: url('../browsing.png');
    } .navbar_left button:nth-of-type(3) {
        content: url('../trophy.png');
    }
    .navbar_left button:nth-of-type(4) {
        content: url('../music.png');
    }
  
  } */
