.imgOnline {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.icon {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgGray {
    filter: grayscale(100%);
}