.show{
    display:  flex;
    flex-direction: row;
    justify-content: left;
    flex-wrap: wrap;
}

.span{
    text-align: left;
    border: none;
    background-color: whitesmoke;
    /* margin-bottom: 10px; */
    margin-left: 20px;
    font-size: 20px;
    font-weight: bold;
    font-family: Helvetica,Helvetica,Arial,sans-serif;
    margin-bottom: 10px;
}

.card{
    width: 260px;
    height: 150px;
    margin-left: 10px;
    margin-bottom:60px;
    height: 154px;
    position: relative;
    /* padding: 5px; */
}

.card:hover{
    cursor: pointer;
}

.stream_desc{
    display: flex;
    flex-direction: column;
    max-width: 250px;
}
.stream_title{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-weight: bold;
}
.stream_user{
    font-size: 13px;
}
.backImg{
    width: 250px;
    height: 150px;
    visibility: hidden;
    }
.img{
        position: absolute;
        z-index: 1;
    }
    
    .img:hover{
        left:5px;
        top: -5px;
    }
    .card:hover .backImg{
        visibility: visible;
    }